body{
    margin: 0px !important;
    
    
}

@media(max-width:650px){
    .searchInputStyle{
       visibility: hidden !important;
    }
}
#profile-btn {
    position: relative;
}

.profile-btn::after{
    position: absolute;
    content: "";
    height: 5px;
    background-color: white;
    bottom: 0;
    width: 90%;
    border-radius: 3px;
}